{{!-- diseño de facturacion --}}
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Document</title>
			<link href="css/bootstrap.css" rel="stylesheet" />
			<link rel="stylesheet" href="css/theme.css">
			<style>@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
					body, h1, h2, h3, h4, h5, h6{
						font-family: 'Bree Serif', serif;
					}
			</style>
				<div class="container">
					<div class="row">
				<div class="col-xs-6">
					<h1><a href=" "><img alt="" src="public/img/logo.jpeg" /> Granero el gato </a></h1>
					<h4>carrera 81 b # 1 28</h4>
					<h4>Belen rincon</h4>
					<h4>telefono: 5060794</h4>
					<h4>Celular: 3146758175</h4>
				</div>
					<div class="panel-body">
						<h4>FACTURA # : 
							<input type=" text"></input>
						</h4>
					</div>
					</div>
					</div>
					<hr/>
						<h1 style="text-align: center;">FACTURA </h1> 
		<pre></pre>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align: center;">
						<h4>Cantidad</h4>
					</th>
					<th style="text-align: center;">
						<h4>Descripción</h4>
					</th>
					<th style="text-align: center;">
						<h4>Precio unitario</h4>
					</th>
					<th style="text-align: center;">
						<h4>Total</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><a href="#"> &nbsp; </a></td>
					<td class="text-right">&nbsp;</td>
					<td class="text-right ">&nbsp;</td>
					
				</tr>
				<tr>
				</tr>
				<tr>
				</tr>
			</tbody>
		</table>
		<pre></pre>
			<div class="row">
					<div class="col-xs-4">
						<h1><a href=" "><img alt="" src="image/qr.png" /></a></h1>
					</div>
					<div class="col-xs-8">
						<div class="panel panel-info"  style="text-align: right;">
							<h6> "LA ALTERACI&Oacute;N, FALSIFICACI&Oacute;N O COMERCIALIZACI&Oacute;N ILEGAL DE ESTE DOCUMENTO ESTA PENADO POR LA LEY"</h6>
						</div>
				</div>
			</div>
		</div>
		</div>
		</head>
		<body>
		</body>
		</html>