{{!-- formulario para el iniciar sesion --}}
    <center> 
        <div class="cuadro">
            <form action="/auth/sign-in" method="post" name="login" >
                <div id="containerTitulo">
                    <label for="" id="titulo">INICIAR SESIÓN</label>
                </div>
                <input type="text" class="campoTxt" id="documento" placeholder="Introduzca su documento de identidad" name="numDoc">
                <input type="password" class="campoTxt" id="contraseña"  placeholder="Introduzca su contraseña" name="contrasena">
                <input type="submit" value="Ingresar" id="botonIng" class="boton"><br><br>
                <label for="" id="recuperar_cl">Recuperar contraseña</label>
                {{!-- mensaje de error que la contraseña no es valida  --}}
                {{#if message}}
                    <span class="error-login">{{message.content}}</span>
                {{/if}}
            </form>
        </div>
        </center>

