
   
   {{!-- formulario para el iniciar sesion --}}
   <center> <div class="cuadro">

        <form action="" method="post" name="login">

            
            <div id="containerTitulo">

                <label for="" id="titulo">INICIAR SESIÓN</label>

            </div>

            <input type="text" class="campoTxt" id="documento" placeholder="Introduzca su documento de identidad">

            <input type="password" class="campoTxt" id="contraseña"  placeholder="Introduzca su contraseña">

            <input type="button" value="Ingresar" id="botonIng" class="boton" onclick="location.href='modulo_usuarios.html'"><br><br>
            
            <label for="" id="recuperar_cl">Recuperar contraseña</label>
        </form>
    </div></center>

