{{!-- formulario para registrar un nuevo producto  --}}
    <form action="/productos/new-productos" method="post" id="formulario">
        <legend>REGISTRO DE PRODUCTOS</legend>
        <div class="form-group row">
            <label for="input proveedor" class="col-sm-2 col-form-label">Proveedor: </label>
        <div  class="col-sm-10">
            {{!-- select --}}
            <select name="proveedor" id="proveedor" class="custom-select" required>
                {{!-- para mostrar la lista de proveedor por cada proveedor va a pintar este HTML --}}
                {{#each proveedores}}
                    <option value="{{_id}}">{{nombre}}</option>
                {{/each}}
            </select>
         </div>
        </div>
        <div id="divNombre" class="form-group row">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-sm-10">
                <input name="nombre" type="text" class="form-control" id="inputNombre">
            </div>
        </div>
        <div id="divDescripcion" class="form-group row">
            <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripcion: </label>
            <div class="col-sm-10">
                <input name="descripcion" type="text" class="form-control" id="inputDescripcion">
            </div>
        </div>
        <div id="divTipo" class="form-group row">
            <label for="inputTipo" class="col-sm-2 col-form-label">Tipo: </label>
            <div class="col-sm-10">
                <input name="tipo" type="text" class="form-control" id="inputTipo">
            </div>
        </div>
        <div id="divPrecio" class="form-group row">
            <label for="inputPrecio" class="col-sm-2 col-form-label">Precio: </label>
            <div class="col-sm-10">
                <input name="precio" type="text" class="form-control" id="inputPrecio">
            </div>
        </div>
        <div id="divBotones" class="form-group">
            <div>
                <input type="submit" class="btn btn-secondary" value="Registrar">
                <input type="button" class="btn btn-secondary" value="Reiniciar Campos" onclick="document.getElementById('formulario').reset()">
                <input type="button" class="btn btn-secondary" value="Cancelar" onClick="window.location.href='/productos/all'">
            </div>
        </div>
    </form>