<form action="/usuarios/new-usuario" method="post" id="formulario">
    <legend>DATOS DEL USUARIO</legend>
    <div id="divTipoDoc" class="form-group row">
        <label for="tipoDocumento" class="col-sm-2 control-label">Tipo de Documento: </label>
        <div class="col-sm-10">
            <select name="tipoDocumento" id="tipoDocumento" class="form-control">
                <option value="Cedula de Ciudadanía">Cedula de Ciudadanía</option>
                <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
            </select>
        </div>
    </div>
    <div id="divDoc" class="form-group row">
        <label for="inputNumDoc" class="col-sm-2 col-form-label">N° Documento: </label>
        <div class="col-sm-10">
            <input name="numDoc" type="text" class="form-control" id="inputNumDoc">
        </div>
    </div>
    <div id="divFechaNac" class="form-group row">
        <label for="inputFechaNac" class="col-sm-2 col-form-label">Fecha Nacimiento: </label>
        <div class="col-sm-10">
            <input name="fechaNac" type="date" class="form-control" id="inputFechaNac">
        </div>
    </div>
    <div id="divGen" class="form-group row">
        <label for="inputGen" class="col-sm-2 col-form-label">Genero: </label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="Femenino">
                <label class="form-check-label" for="inlineRadio1">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="Masculino">
                <label class="form-check-label" for="inlineRadio2">Masculino</label>
            </div>
        </div>
    </div>
    <div id="divNombres" class="form-group row">
        <label for="inputNombres" class="col-sm-2 col-form-label">Nombres: </label>
        <div class="col-sm-10">
            <input name="nombre" type="text" class="form-control" id="inputNombres">
        </div>
    </div>
    <div id="divApellidos" class="form-group row">
        <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos: </label>
        <div class="col-sm-10">
            <input name="apellidos" type="text" class="form-control" id="inputApellidos">
        </div>
    </div>
    <div id="divTelefonoFijo" class="form-group row">
        <label for="inputTelefonoFijo" class="col-sm-2 col-form-label">Telefono fijo: </label>
        <div class="col-sm-10">
            <input name="tel_fij" type="text" class="form-control" id="inputTelefonoFijo">
        </div>
    </div>
    <div id="divCelular" class="form-group row">
        <label for="inputCelular" class="col-sm-2 col-form-label">Celular: </label>
        <div class="col-sm-10">
            <input name="celular" type="text" class="form-control" id="inputCelular">
        </div>
    </div>
    <div id="divDireccion" class="form-group row">
        <label for="inputDireccion" class="col-sm-2 col-form-label">Dirección: </label>
        <div class="col-sm-10">
            <input name="direccion" type="text" class="form-control" id="inputDireccion">
        </div>
    </div>
    <div id="divEmail" class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Correo: </label>
        <div class="col-sm-10">
            <input name="direc" type="text" class="form-control" id="inputEmail">
        </div>
    </div>
    <div id="divContrasena" class="form-group row">
        <label for="inputContrasena" class="col-sm-2 col-form-label">Contraseña: </label>
        <div class="col-sm-10">
            <input name="contraseña" type="password" class="form-control" id="inputContrasena">
        </div>
    </div>
    <div id="divConfirmarContrasena" class="form-group row">
        <label for="inputConfirmarContrasena" class="col-sm-2 col-form-label">Confirmar Contraseña: </label>
        <div class="col-sm-10">
            <input name="contraseña" type="password" class="form-control" id="inputConfirmarContrasena">
        </div>
    </div>
    <div id="divRol" class="form-group row">
        <label for="inputRol" class="col-sm-2 col-form-label">Rol: </label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rol" id="inlineRadioAdministrador" value="1">
                <label class="form-check-label" for="inlineRadioAdministrador">Administrador</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rol" id="inlineRadioAuxiliar" value="2">
                <label class="form-check-label" for="inlineRadioAuxiliar">Auxiliar</label>
            </div>
        </div>
    </div>
    <div id="divBotones" class="form-group">
        <div>
            <input type="submit" class="btn btn-secondary" value="Registrar">
            <input type="button" class="btn btn-secondary" value="Reiniciar Campos" onclick="document.getElementById('formulario').reset()">
            <input type="button" class="btn btn-secondary" value="Cancelar" onClick="window.location.href='/usuarios/all'">
        </div>
    </div>
</form>